.btn{
    @extend .font-primary;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 28px;
    border: 2px solid $btn-clr;
    background-color: $bacground-bg;
    text-align: center;
   
   
}

.btn:hover{
    background-color: $btn-clr;
}

.btn a:hover{
    color: $bacground-clr;
}