.font-primary {
    font-family: $primary-font;
}

.font-secondary {
    font-family: $secondary-font;
}

.weight-regular {
    font-weight: 400;
}

.weight-medium {
    font-weight: 500;
}

.weight-semibold {
    font-weight: 700;
}

.weight-bold {
    font-weight: 800;
}

.text-xs {
    font-size: 8px;
}

.text-sm {
    font-size: 14px;
}

.text-base {
    font-size: 16px;
    line-height: 26px;
}

.text-md {
    font-size: 20px;
}

.text-4xl {
    font-size: 40px
}

.text-5xl {
    font-size: 50px;
    line-height: 64px;
}

.text-8xl {
    font-size: 80px;
}

.row {
    display: flex;
}

.col {
    flex-grow: 1;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.w-full {
    width: 100%;
}

.h-auto {
    height: auto;
}

.text-dark {
    color: $text-color;
}

.text-primary {
    color: $primary-color;
}

.text-secondary {
    color: $body-text-color;
}

.items-center {
    align-items: center;
}

.no-underline {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.text-white {
    color: $white-color;
}

.underline {
    text-decoration: underline;
}

.btn-reset {
    background-color: transparent;
    border: 0;
}

.cursor-pointer {
    cursor: pointer
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.list-none {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.gap-2xl {
    gap: 20px;
}

//.max-w-1/2
.max-w-1\/2 {
    max-width: 50%;
}

.align-start {
    align-self: start;
}

.bg-primary {
    background-color: $primary-color;
}

.bg-primary-deep {
    background-color: $primary-deep-color;
}

.bg-green {
    background-color: $green-color;
}

.bg-pink {
    background-color: $pink-color;
}

.justify-center {
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}
