.container{
    max-width: 1140px;
    margin: 0 auto;
}

.row{
    display:flex;
}

.col {
    flex-grow: 1;
}
a, a:hover{
    text-decoration: none;
}


.w-full {
    width: 100%;
}

.h-auto {
    height: auto;
}

.items-center {
    align-items: center;
}

.text-base {
    font-size: 16px;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.underline {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}
.margin-left{
    margin-left: 80px;
}

@media screen and (max-width: 576px) {
    .row {
        flex-wrap: wrap;
    }

    .container {
        padding: 0 10px;
    
    }
}