$primary-font: 'Heebo', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$text-color: #16213e;
$body-text-color: #6a6d74;
$primary-color: #2c66ff;
$gray-100: #f9fafc;
$white-color: #ffffff;
$green-color: #34BC6E;
$pink-color: #E93469;
$primary-deep-color: #4054B2;

$fa-font-path: "../fonts";