/*

    Responsive breakpoints

      xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
*/ 

@media screen and ( max-width: 576px ) {
    #banner-section {
        padding: 20px 0;
        h1 {
            font-size: 34px;
            line-height: 40px;
        }

        .banner-col-left {
            margin-bottom: 40px;
        }
    }

    #elementor-section{
         margin: 0 20px;
        .headding-tittle {
            margin-top: 10px;
            margin-left: 5px;
        }
        .headding-description{
            margin-left: 5px;
            margin-top: 20px;
        }
        .headding-sub-tittle{
            margin-left: 5px;
        }

        .list{
            margin-left: 5px;
        }
    }
}