#banner-section{
    padding: 200px 0;
    background-color: $gray-100;

    h4{
        font-size: 20px;
        font-weight: 500;
    }

    h1{
        font-size: 80px;
        font-weight: 800;
        line-height: 90px;
    }

    .button-wrapper {
        margin-top: 40px;
    }
    
    .banner-play-btn {
        background-color: transparent;
        padding: 0;
        margin-left: 30px;
        border: none;

        &:hover {
            color: $blue-600;
        }

        span {
            margin-left: 4px;
        }
    }
}

