.banner-section {

    padding: 150px 0;
    background-color: $gray-100;

    .subtitle {
        margin-bottom: 34px;
    }
    .title {
        line-height: 90px;
    }

    .btn-play {
        margin-left: 25px;

        span {
            margin-left: 3px;
        }
    }

    .button-container {
        margin-top: 50px;
    }

    .particle-1 {
        left: 100px;
        top: 150px;
    }
}