#elementor-section {
    padding: 100px 0;
    background-color: $white;

    .headding-tittle{
        @extend .font-primary;
        font-size: 40px;
        font-weight:800;
        line-height: 60px;
    }

    .headding-description{
        @include para-style;
    }

    .headding-sub-tittle{
        margin-top: 30px;
    }


    .list {
        margin-top: 30px;
      
        .list-items{
         list-style-type: none ;
         margin-bottom: 30px;
         
         i{
            font-size: 8px;
            color: $secondary-bg;
         }

         span{
            padding-left: 12px;
         }
         

        }
    }
        
}